<ion-view view-title="Search">
  <ion-content>
    <div class="list">
        <div class="item item-input-inset">
            <label class="item-input-wrapper">
                <input type="text" placeholder="Search">
            </label>
            <button class="button button-small">
                Submit
            </button>
        </div>
    </div>
    <a class="item item-avatar item-icon-right" href="#">
        <img src="http://ia.media-imdb.com/images/M/MV5BMjA4NTkzNjg1OF5BMl5BanBnXkFtZTcwNjg3MTI1Ng@@._V1_SX178_AL_.jpg">
        House M.D. <br> (2004)
        <i class="icon ion-plus-circled"></i>
    </a>
  </ion-content>
</ion-view>
